@reference "tailwindcss";

@layer components {
    [data-footer-menu] {
        .menu {
            @apply flex flex-col gap-y-4 gap-x-0 items-center;

            @variant lg {
                @apply flex-row gap-y-0 gap-x-10;
            }

            .menu-item {
                @apply tracking-normal;

                span {
                    @apply text-xl inline-block origin-left transition-transform text-indigo-100;
                }

                @variant hover {
                    span {
                        @apply underline duration-75;
                    }
                }
            }
        }
    }
}