@reference "tailwindcss";

@layer components {
    [data-footer] {
        @apply bg-indigo-400;

        .ficon {
            @variant hover {
                /* filter: invert(53%) sepia(38%) saturate(3303%) hue-rotate(326deg) brightness(101%) contrast(96%); */
                @apply cursor-pointer scale-110 transition-all;
            }
        }
    }
}